<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark mt-5">

<!-- Footer -->
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row" style="padding-left: 200px;">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3" >

        <!-- Content -->
        <h5 class="text-white" ><span style="color: rgb(255, 102, 0);">Full</span><span>stack</span></h5>
        <p class="text-white">F8 là nơi học lập trình miễn phí.</p>
        <p class="text-white">Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
        <p class="text-white">Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white" >F8</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">Giới thiệu</a>
          </li>
          <li>
            <a class="text-white" href="#!">Câu hỏi thường gặp </a>
          </li>
          <li>
            <a class="text-white" href="#!">Liên hệ</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white" >Sản phẩm</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">MyCV.vn</a>
          </li>
          <li>
            <a class="text-white" href="#!">Fullstack.edu.vn</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white" >Hỗ trợ</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">Hỗ trợ</a>
          </li>
          <li>
            <a class="text-white" href="#!">Đóng góp</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

       <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white">Theo dõi chúng tôi</h5>

        <ul class="list-unstyled">
          <li>
            <span class="text-white">Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</span>
          </li>
          <form class="mt-5">
            <div class="form-group">
                <input type="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email của bạn...">
            </div>
            <button type="submit" class="btn btn-primary rounded-pill hover-button" >Đăng ký</button>
</form>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:aliceblue">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" style="color:aliceblue"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->